
$lightfont: #FCFBE3;

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	text-align: center;
    letter-spacing: 0.1em;	
   	color: $lightfont;
}

h2 {
	position: absolute;
	text-align: center;
	top:25px;
	left:0;
	width: 100%;
}

h1, h2, h3 {
	font-family: 'Covered By Your Grace', helvetica;
}

h4, h5, h6 {
	font-family: 'Oswald';
}

h1 {
    font-size: 55px;
    font-weight: 100;	
    letter-spacing: 0.2em;
}

h2 {
	font-size: 55px;
}

h3 {
    font-size: 40px;
}

h4 {
	font-size: 25px;
}

a {
	color: $lightfont;
	&:hover {
		text-decoration:none;
		h4 {	
			@include transition(all 0.4s ease-in-out);
			color: black;
		}
	}
}

p {
	color: $lightfont;
	margin-left: 20px;
	margin-right: 20px;
}