
$lightfont: #FCFBE3;

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	text-align: center;
    letter-spacing: 0.1em;	
}


h1, h2, h3 {
	font-family: 'Covered By Your Grace', helvetica;
	color: $lightfont;
}

h4, h5, h6 {
	font-family: 'Open Sans Condensed';
	font-weight: bold;
}

h1 {
    font-size: 48px;
    font-weight: 100;	
    letter-spacing: 0.2em;
}

h2 {
	font-size: 4em;
}

h3 {
    font-size: 2.7em;
}

h4 {
	font-size: 2.0em;
}

a {
	color: $lightfont;
	&:hover {
		text-decoration:none;
		color: black;
	}
}