
$lightfont: #FCFBE3;

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	text-align: center;
    letter-spacing: 0.1em;	
}


h1, h2, h3 {
	font-family: 'Covered By Your Grace', helvetica;
	color: $lightfont;
}

h4, h5, h6 {
	font-family: 'Oswald';
}

h1 {
    font-size: 55px;
    font-weight: 100;	
    letter-spacing: 0.2em;
}

h2 {
	font-size: 55px;
}

h3 {
    font-size: 40px;
}

h4 {
	font-size: 25px;
}

a {
	color: $lightfont;
	&:hover {
		text-decoration:none;
		color: black;
	}
}