@mixin background($imgpath, $grad:0, $grad2:0) {
    background: {
        image: linear-gradient(rgba(0, 0, 0, $grad), rgba(0, 0, 0, $grad2)), url($imgpath);
        size: cover;
    }
}

@mixin news-box($height, $bg) {
	height: $height;
	background-color: $bg;
	display: flex;
	align-items: center;
}