@mixin background($imgpath, $grad:0, $grad2:0) {
    background: {
        image: linear-gradient(rgba(0, 0, 0, $grad), rgba(0, 0, 0, $grad2)), url($imgpath);
        size: cover;
    }
}

@mixin news-box($height, $bg) {
	height: $height;
	background-color: $bg;
	display: flex;
	align-items: center;
}

@mixin songlist() {
    padding-top: 50px;
    color: $lightfont;
    font-family: 'Oswald';
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 30px;
    background:rgba(0,0,0,0.7);	
}