@mixin background($imgpath) {
    background: {
        image: url($imgpath);
        size: cover;
    }
}

@mixin news-box($height, $bg) {
	height: $height;
	background-color: $bg;
	display: flex;
	align-items: center;
}