$size: 200px;

h1 { text-align: center;}
.box {
  width: $size;
  height: $size;
  background: coral;
  	&:hover {
  		@include animation(squareToCircle 2s 1s infinite alternate);
  	}
}

@include keyframes(squareToCircle) {
   0% {
    border-radius: 0 0 0 0;
    background: coral;
    @include transform(rotate(60deg) translateX(0px));
     
  }
  25% {
    border-radius: 50% 0 0 0;
    background: darksalmon;
    @include transform(rotate(120deg) translateX(0px));
  }
  50% {
    border-radius: 50% 50% 0 0;
    background: hotpink;
    @include transform(rotate(180deg) translateX(0px));
  }
  75% {
    border-radius: 50% 50% 50% 0;
    background: lightcoral;
    transform: rotate(135deg);
    @include transform(rotate(240deg) translateX(0px));
  }
  100% {
    border-radius: 50% 50% 50% 50%;
    background: darksalmon;
    @include transform(rotate(30d0eg) translateX(0px));
  }
}
