#section3 { 

$title-height: 80px;
$box-height: 400px;
$box-color: rgba(0,0,0,0.9);
$box-height-reduced: 397px;

  	@include background('../images/bg/gibson.jpg', 0.25, 0.8);  

	h3, h4 {
		margin:0;
		line-height: $title-height;			
	}

	.date-container {
		height: $title-height;
		background-color: $box-color;
		@include border-style(solid solid null solid);
		@include border-width(3px);
		@include border-color($lightfont);

	}

	.news-container {
		position:relative;
		@include news-box($box-height, $box-color);
		@include border-style(solid solid solid solid);
		@include border-width(3px);
		@include border-color($lightfont);

		h3 {
			width: 100%;
		}

		.news-title {
			@include transition(all 0.3s ease-in-out);
			@include position(absolute, 0px 0px 0px 0px);

			@include news-box($box-height-reduced, $box-color);
			@include border-style(null null solid null);
			@include border-width(3px);
			@include border-color($lightfont);

			&:hover {
				opacity: 0;
  			}	
		}
  	}


  	.left-parent {
		@include border-top-radius(20px);
 		@include border-right-radius(0);
  	}

  	.left-child {
		@include border-bottom-radius(20px);
 		@include border-right-radius(0);
  	}

  	.right-parent {
		@include border-top-radius(20px);
 		@include border-left-radius(0);
  	}

  	.right-child {
		@include border-bottom-radius(20px);
 		@include border-left-radius(0);
  	}


	@media screen and (max-width: 1200px) {
		.left-parent, .left-child, .right-parent, .right-child {
			@include border-top-radius(0px);
			@include border-bottom-radius(0px);
		}

		.news-container {
			margin-bottom: 30px;
		}
	}
}